<div class="sidebar app-aside" id="sidebar">
    <div class="sidebar-container perfect-scrollbar">
        <nav>
            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu">
                <li class="open">
                    <a href="javascript:void(0)">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-settings"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Chức năng </span><i class="icon-arrow"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="sub-menu" style="display: block;">
                        <li>
                            <a href="/backend/boso/index">
                                <span class="title"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Dự đoán </span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/order/index">
                                <span class="title"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Đơn hàng </span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/boso-category/index">
                                <span class="title"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Nhóm bộ số </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </nav>
    </div>
</div>