<!-- start: LOGIN -->
<div class="row" data-keyenter="#btnLogin">
    <div class="main-login col-md-4 col-md-offset-4">
        <!-- start: LOGIN BOX -->
        <div class="box-login">
            <h3>Đăng nhập</h3>
            <br>
            <div class="form-group">
                <span class="input-icon">
                    <input id="txtLoginID" name="txtLoginID" type="text" class="form-control" value="" tabindex="1" />
                    <i class="fa fa-user"></i>
                </span>
                <span id="lblLoginID" class="message msg-box"></span>
            </div>
            <div class="form-group">
                <span class="input-icon">
                    <input id="txtPassID" name="txtPassID" type="password" class="form-control" value="" tabindex="2" />
                    <i class="fa fa-lock"></i>
                </span>
                <span id="lblPassID" class="message msg-box"></span>
            </div>
            <div class="text-center" style="padding-top:10px ;">
                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox clip-check check-primary">
                            <input type="checkbox" id="remember" value="1">
                            <label for="remember">
                                cxzc
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>-->
                <button id="btnLogin" type="button" class="btn btn-primary" style="width: 100%;">
                    Đăng nhập <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
            <!-- <div class="new-account">
                    Don't have an account yet?
                    <a href="login_registration.html">
                        Create an account
                    </a>
                </div> -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>

<script src="/javascripts/login.js"></script>