<!-- start: LOGIN -->
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-4">
        <!-- start: LOGIN BOX -->
        <div class="box-login">
            <h3>Đăng nhập</h3>
            <br>
            <div class="form-group">
                <span class="input-icon">
                    <input id="txtLoginID" name="txtLoginID" type="text" class="form-control" value="" tabindex="1" />
                    <i class="fa fa-user"></i>
                </span>
                <span id="lblLoginID" class="message msg-box"></span>
            </div>
            <div class="form-group">
                <span class="input-icon">
                    <input id="txtPassID" name="txtPassID" type="password" class="form-control" value="" tabindex="2" />
                    <i class="fa fa-lock"></i>
                </span>
                <span id="lblPassID" class="message msg-box"></span>
            </div>
            <div class="text-center" style="padding-top:10px ;">
                <button id="btnLogin" type="button" class="btn btn-primary" style="width: 100%;">
                    Đăng nhập <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
            <!-- <div class="new-account">
                    Don't have an account yet?
                    <a href="login_registration.html">
                        Create an account
                    </a>
                </div> -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
<script src="/javascripts/login.js"></script>

<!-- eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoi
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiYWxsZW4iLCJpYXQiOjE2MjIwMDMxOTMsImV4cCI6MTYyMjAxMzk5M30.AyhRcLcQ-4AgAlTB0GqFwjY7t175QM0pCcWi34H5Vh4
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiYWxsZW4iLCJpYXQiOjE2MjIwMDMyNDksImV4cCI6MTYyMjAxNDA0OX0.T671sCojWYCYBVeBFfOvfVgniHobWZ2IrVGsdPXqUeA
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiYWxsZW4iLCJpYXQiOjE2MjIwMDMyNjYsImV4cCI6MTYyMjAxNDA2Nn0.-E7arY1KweKnMD6HYOqMqglpb6oTbUbFZkr5heal6JI -->