<div class="row">
    <div class="col-md-10">
        <div class="row" data-keyenter="#btnSearch">
            <div class="col-md-2">
                <div class="form-group">
                    <a href="/backend/boso-category/create" class="btn btn-success" style="width: 100%;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Tạo</a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-6">
                <div class="form-group text-right">
                    <div class="input-group">
                        <input id="txtQuery" type="text" id="form-field-mask-3" class="form-control input-mask-product" placeholder="enter keyword here!" />
                        <span id="btnSearch" class="input-group-addon"> <i  class="fa fa-search" aria-hidden="true"></i> </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                <thead>
                    <tr>
                        <th class="tbcol-id">#</th>
                        <th class="tbcol-title">Tên bộ số</th>
                        <th class="tbcol-title">ID: dịch vụ</th>
                        <th class="tbcol-amount">Giá bán</th>
                        <th class="tbcol-none">Mô tả</th>
                        <th class="tbcol-status">T.Thái</th>
                        <th class="tbcol-action">#</th>
                    </tr>
                </thead>
                <tbody id="tblData"></tbody>
            </table>
        </div>
        <div id="pagination"></div>
    </div>
</div>
<script src="/javascripts/app-boso-category.js"></script>
<script>
    $(document).ready(function() {
        bosoCateController.dataList(1);
    });
</script>