<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Vùng miền:</label>
                    <select id="ddlArea" name="ddlArea" class="form-control show-tick" data-live-search="true">
                        <option value="0">-chọn-</option>
                        <% if (models!=null) { models.areaList.forEach(function(element){ %>
                            <option value="<%= element.areaId %>">
                                <%= element.areaName %>
                            </option>
                            <% });} %>
                    </select>
                    <span id="lblArea" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Nhóm dịch vụ:</label>
                    <select id="ddlCategory" name="ddlCategory" class="form-control show-tick" data-live-search="true">
                        <option value="">-chọn-</option>
                        <% if (models!=null) { models.bosoCate.forEach(function(element){ %>
                            <option value="<%= element.id %>">
                                <%= element.name %>
                            </option>
                            <% });} %>
                    </select>
                    <span id="lblCategory" class="message msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Ngày quay:</label>
            <input id="txtExecutionDate" name="txtExecutionDate" maxlength="255" type="text" class="form-control"
                value="" placeholder="dd-mm-yyyy" data-date="true" />
            <span id="lbltxtExecutionDate" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Giá trị:</label>
            <input id="txtValue" name="txtValue" maxlength="255" type="text" class="form-control" value="" />
            <span id="lblValue" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <hr>
            <h4>Kết quả:</h4>
        </div>
        <div class="form-group">
            <label class="form-label">Kết quả:</label>
            <input id="txtKqxs" name="txtKqxs" maxlength="255" type="text" class="form-control" value="" />
            <span id="lblKqxs" class="message msg-box"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Text:</label>
            <input id="txtTextrs" name="txtTextrs" maxlength="255" type="text" class="form-control" value="" />
            <span id="lblTextrs" class="message msg-box"></span>
        </div>
         
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Tình trạng:</label>
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="cbxIsMatched" name="cbxIsMatched" value="1" />
                        <label for="cbxIsMatched">
                            Trúng
                        </label>
                    </div>
                    <span id="lblIsMatched" class="message msg-box"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Trạng thái:</label>
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="cbxActive" name="cbxActive" value="1" checked />
                        <label for="cbxActive">
                            Kích hoạt
                        </label>
                    </div>
                    <span id="lblActive" class="message msg-box"></span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <hr />
        </div>
        <div class="form-group text-right">
            <a href="/backend/boso/index" class="btn btn-info" type="reset">Danh sách</a>
            <button id="btnReset" data-reset="true" class="btn btn-primary" type="reset">Làm mới</button>
            <button id="btnCreate" class="btn btn-success" type="button">Tạo mới</button>
        </div>
    </div>
</div>
<script src="/javascripts/app-boso.js"></script>