<div class="row " data-keyenter="#btnSearch">
    <div class="col-md-2">
        <div class="form-group">
            <a href="/backend/boso/create" class="btn btn-success" style="width: 100%;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Tạo</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <select id="ddlArea" name="ddlArea" class="form-control show-tick" data-live-search="true">
                        <option value="0">-area-</option>
                        <% if (models.areaList!= null) {
                            models.areaList.forEach(function(element){ %>
                            <option value="<%= element.areaId %>"><%= element.areaName %></option>
                        <% });} %>
                    </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group input-group input-daterange">
            <input id="txtStartDate" type="text" class="form-control" placeholder="dd-mm-yy" data-date="true" />
            <span class="input-group-addon bg-primary"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>
            <input id="txtEndDate" type="text" class="form-control" placeholder="dd-mm-yy" data-date="true" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group text-right">
            <div class="input-group">
                <input id="txtQuery" type="text" id="form-field-mask-3" class="form-control input-mask-product" placeholder="enter keyword here!" />
                <span id="btnSearch" class="input-group-addon"> <i  class="fa fa-search" aria-hidden="true"></i> </span>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered" id="sample_1" style="min-width: 1000px;">
        <thead>
            <tr>
                <th class="tbcol-id">#</th>
                <th class="tbcol-date">Ngày quay</th>
                <th class="tbcol-title">Nhóm bộ số</th>
                <th class="tbcol-title">Khu vực</th>
                <th class="tbcol-none">Dự đoán</th>
                <th class="tbcol-none">Kết quả</th>
                <th class="tbcol-none">Fake</th>
                <th class="tbcol-status">T.Trạng</th>
                <th class="tbcol-status">T.Thái</th>
                <th class="tbcol-action">#</th>
            </tr>
        </thead>
        <tbody id="tblData"></tbody>
    </table>
</div>
<div id="pagination"></div>

<script src="/javascripts/app-boso.js"></script>
<script>
    $(document).ready(function() {
        bosoController.dataList(1);
    });
</script>